<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  
  
 
<servlet>
　　<servlet-name>loginServlet</servlet-name>
　　<servlet-class>filter.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
　　<servlet-name>loginServlet</servlet-name>
　　<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet>
　　<servlet-name>logoutServlet</servlet-name>
　　<servlet-class>filter.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
　　<servlet-name>logoutServlet</servlet-name>
　　<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>
<filter>
　　<filter-name>pemissionFilter</filter-name>
　　<filter-class>filter.PemissionFilter</filter-class>
</filter>
<filter-mapping>
　　<filter-name>pemissionFilter</filter-name>
　　<url-pattern>/servlet/CartServlet</url-pattern>
</filter-mapping>
  	
  	
<error-page>
	<exception-type>org.apache.jasper.JasperException</exception-type>
	<location>/error.jsp</location>
</error-page>
  
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
